body{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}




.upg-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  cursor: pointer;
  width: 180px;
  height: 70px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  background: url(img/button/8b31480480a2f7b7ae0161155337938a.jpg);
  background-size:50px ;
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: rgb(156, 143, 143);
  text-shadow: 0 1px #fff;

  z-index: 2;
}

.upg-btn:hover {
  box-shadow: 0 4px 3px 1px #4a4949, 0 6px 8px #4f5051, 0 -4px 4px #444648, 0 -6px 4px #383535, inset 0 0 3px 3px #26282c;
}

.upg-btn:active {
  box-shadow: 0 4px 3px 1px #443f3f, 0 6px 8px #434344, 0 -4px 4px #3b3d42, 0 -6px 4px #322828, inset 0 0 5px 3px #6e6a6a, inset 0 0 30px #464141;
}

.upg-btn:focus {
  box-shadow: 0 4px 3px 1px #382d2d, 0 6px 8px #363637, 0 -4px 4px #313234, 0 -6px 4px #454040, inset 0 0 5px 3px #201f1f, inset 0 0 30rgb(45, 45, 45)aaa;
}


.decoration-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 100%;
  background: black;
}

.first-garage{
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: url(img/garage/1524419450114219188.jpg);
  background-size:cover;
}

.second-garage{
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  background: url(img/garage/1646920464_1-amiel-club-p-krasivii-garazh-vnutri-interer-krasivo-fot-1.jpg);
  background-size:cover;
  
}

.game{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.first-upgrade{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background:url(img/garage/1524419450114219188.jpg) ;
  background-size: 1500px 900px;
  width: 100%;
  height: 100%;
}

.first-car{
  display: flex;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  background:url(img/car/0bb786abd111853a98ddc843a0092619.png) ;
  background-size: cover;
  width: 600px;
  height: 750px;
  filter: drop-shadow(100px 100px 100px black);
  cursor: pointer;
  
}

.next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  width: 78px;
  height: 58px;
  background: url(img/ykazatel.png);
  transform: rotate(180deg);
  background-size:cover ;
  cursor: pointer;
  z-index: 2;
  
}

.next:hover{
  width: 75px;
  height: 55px;
}

.next:active{
  width: 78px;
  height: 58px;
}


.sec-upgrade{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background:url(img/garage/1634320508_14-p-kak-oblagorodit-garazh-vnutri-foto-19.jpg) ;
  background-size:1600px 900px;
  width: 100%;
  height: 100%;

}



.nnext{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3%;
  width: 89px;
  height: 65px;
  background: url(img/ykazatel.png);
  background-size:cover ;
  cursor: pointer;
  
  z-index: 2;
}

.nnext:hover{
  width: 78px;
  height: 58px;
}

.nnext:active{
  width: 82px;
  height: 60px;
}

.second-car{
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background:url(img/car/png-transparent-seat-128-antique-car-vintage-car-cropped-image-transparent-background.png) ;
  background-size: 700px;
  width: 700px;
  height: 750px;
  filter: drop-shadow(100px 100px 100px black);
  cursor: pointer;
}

.second-car:hover{
  width: 696px; 
  height: 746px; 
}

.second-car:active{
  width: 700px; 
  height: 750px; 
}

.first-car:hover{
  width: 592px; 
  height: 740px; 
}

.first-car:active{
  width: 600px; 
  height: 750px; 
}

.click-me{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: rgb(255, 255, 255);
  background: black;
  width: 280px;
  text-align: center;
  border-radius: 30px;
  font-size: 40px;
  z-index: 2;
}

.coin{
  display: flex;
  justify-content: center;
  align-items: center;
  color: gold;
  z-index: 2;
  font-size: 40px;
 
}

.photo_toreach{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  z-index: 1;
}


.container {
  width: 100vw; height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.input-field,
.input_field:hover,
.input_field:active,
.input_field:focus {
  border: 1.5px solid gray;
  border-radius: 5px;
  outline: none;
}

.input_field {
  padding: .3em;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
  font-family: 'Montserrat', sans-serif; 
  box-sizing: border-box;
}

button {
  padding: .3em;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif; 
  margin-left: .5em;
}

h1 {
  display: none;
}



.but {
  font-size: 20px;
  padding: 0.5em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);

  color: rgb(255, 255, 255);
  border-radius: 4px;
  width: 180px;
  height: 70px;
  cursor: pointer;
  background: url(img/button/pngtree-messy-area-full-of-trash-and-garbage-image_2671959.jpg);
  background-size: cover;
 }
 
 .but:hover {

  background: url(img/button/pngtree-messy-area-full-of-trash-and-garbage-image_2671959.jpg), ;
  filter:contrast(80%)  ;
  background-size: cover;
 }
 
 .but:active {
  transform: translate(0em, 0.2em);
 }

 .con-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 50px;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 80px;
background-color: rgba(0,0,0,0.6);
 }

 .garage{
  position: absolute;
  top: 32%;
  right: 1%;
  margin: 0;
  z-index: 2;
 }

 .coin-con{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 180px;
  background-color: #201f1f;
  z-index: 2;
  height: 70px;
  position: absolute;
  top: 2%;
  right: 1%;
  border-radius: 20px;
  overflow: hidden;
  
  
 }

 .conteinerMain{
  display: flex;
  width: 200px;
  height: 89.1%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
  position: absolute;
  right: 0;

 }



.master-clicker{
  display: none;
  width: 400px;
  height: 500px;
  position: absolute;
  left: 2% ;
  bottom: 12%;
}

.dymku{
  display: none;

  width: 220px;
  height: 150px;
  position: absolute;
  left: 20% ;
  top: 17%;
}

.coin-dymku{
  display: none;
  
  width: 220px;
  height: 150px;
  position: absolute;
  left: 23.5% ;
  top: 20%;
  color: rgb(111, 95, 5);
  font-size: 26px;
}

.claim-dymku-coin{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 22.5% ;
  top: 28.5%;
  width: 150px;
  height: 20px;
  text-align: center;
  color: white;
  background-color: rgb(65, 64, 64);
  cursor: pointer;
}

.claim-dymku-coin:hover{
  background-color: green;
}

.claim-dymku-coin:active{
  background-color: rgb(3, 83, 3);
}