body{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  
 font-family:Georgia, 'Times New Roman', Times, serif;
}

body::-webkit-scrollbar{
  width: 0;
}



.upg-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translatex(-50%);
  outline: none;
  cursor: pointer;
  width: 180px;
  height: 50px;
  background-image: linear-gradient(to top, #7c5542 0%, #563305 80%, #4f4945 100%);

  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: rgb(156, 143, 143);
  text-shadow: 0 1px #fff;


  z-index: 2;
}

.upg-btn:hover {
  box-shadow: 0 4px 3px 1px #4a4949, 0 6px 8px #4f5051, 0 -4px 4px #444648, 0 -6px 4px #383535, inset 0 0 3px 3px #26282c;
}

.upg-btn:active {
  box-shadow: 0 4px 3px 1px #443f3f, 0 6px 8px #434344, 0 -4px 4px #3b3d42, 0 -6px 4px #322828, inset 0 0 5px 3px #6e6a6a, inset 0 0 30px #464141;
}

.upg-btn:focus {
  box-shadow: 0 4px 3px 1px #382d2d, 0 6px 8px #363637, 0 -4px 4px #313234, 0 -6px 4px #454040, inset 0 0 5px 3px #201f1f, inset 0 0 30rgb(45, 45, 45)aaa;
}


.decoration-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 100%;
  background: black;
}



.game{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: hidden;

}

.first-upgrade{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background:url(img/garage/1620171305_42-p-garazh-vnutri-na-uchastke-47.png) ;
  background-size: 100%
  100%;
  width: 100%;
  height: 100vh;
}

.first-car{
  display: flex;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%,-50%);
  background:url(img/car/0bb786abd111853a98ddc843a0092619.png) ;
  background-size: 100%
  100%;
  width: 40%;
  height: 60%;
  filter: drop-shadow(100px 100px 100px black);
  cursor: pointer;
  z-index: 2;
  
}

.next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  width: 78px;
  height: 58px;
  background: url(img/ykazatel.png);
  transform: rotate(180deg);
  background-size:cover ;
  cursor: pointer;
  z-index: 2;
  
}

.next:hover{
  width: 75px;
  height: 55px;
}

.next:active{
  width: 78px;
  height: 58px;
}


.sec-upgrade{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background:url(img/garage/fadfce82daef92615329df2ea50e3fd3.jpg) ;
  background-size:100% 100%;
  width: 100%;
  height: 100%;

}



.nnext{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3%;
  width: 89px;
  height: 65px;
  background: url(img/ykazatel.png);
  background-size:cover ;
  cursor: pointer;
  
  z-index: 2;
}

.nnext:hover{
  width: 78px;
  height: 58px;
}

.nnext:active{
  width: 82px;
  height: 60px;
}

.second-car{
  display: flex;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%,-50%);
  background:url(img/car/png-transparent-seat-128-antique-car-vintage-car-cropped-image-transparent-background.png) ;
  background-size: 100% 100%;
  width: 45%;
  height: 55%;
  filter: drop-shadow(100px 100px 100px black);
  cursor: pointer;
  z-index: 2;
}

.second-car:hover{
  width: 45.6%;
  height: 55.6%;
}

.second-car:active{
  width: 45%;
  height: 55%;
}

.first-car:hover{
  width: 40.4%;
  height: 60.5%;
}

.first-car:active{
  width: 40%;
  height: 60%;
}

.click-me{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: rgb(255, 255, 255);
  background: black;
  width: 280px;
  text-align: center;
  border-radius: 30px;
  font-size: 40px;
  z-index: 2;
}

.coin{
  display: flex;
  justify-content: center;
  align-items: center;
  color: gold;
  z-index: 2;
  font-size: 30px;
 
}

.photo_toreach{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  z-index: 1;
}


.container {
  width: 100vw; height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.input-field,
.input_field:hover,
.input_field:active,
.input_field:focus {
  border: 1.5px solid gray;
  border-radius: 5px;
  outline: none;
}

.input_field {
  padding: .3em;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
  font-family: 'Montserrat', sans-serif; 
  box-sizing: border-box;
}

button {
  padding: .3em;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif; 
  margin-left: .5em;
}

h1 {
  display: none;
}



.but {
  font-size: 110%;
  padding: 0.5em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  margin-bottom: 20% ;
  color: rgb(0, 0, 0);
  font-weight: 800;
  border-radius: 4px;
  width: 180px;
  height: 80px;
  cursor: pointer;
  background: url(https://st2.depositphotos.com/5647624/45006/i/450/depositphotos_450060830-stock-photo-spanners-many-wrenches-industrial-background.jpg);
  background-size: 100% 100%;
  box-shadow: 7px 8px 15px black;
 }

 .butt {
  font-size: 110%;
  padding: 0.5em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  margin-bottom: 5% ;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  font-weight: 800;
  width: 180px;
  height: 80px;
  cursor: pointer;
  background: url(https://st2.depositphotos.com/5647624/45006/i/450/depositphotos_450060830-stock-photo-spanners-many-wrenches-industrial-background.jpg);
  background-size: 100% 100%;
  box-shadow: 7px 8px 15px black;
 
 }
 
 .butt:hover {

  filter:contrast(70%)  ;
  box-shadow: 8px 9px 20px black;
 }
 
 .butt:active {
  transform: translate(0em, 0.2em);
 }


 .but:hover {

  box-shadow: 8px 9px 20px black;
  filter:contrast(80%)  ;
 }
 
 .but:active {
  transform: translate(0em, 0.2em);
 }

 .con-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 50px;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 11%;
background-color: rgba(0,0,0,0.6);
 }



 .coin-con{
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 2;
  height: fit-content;
  position: absolute;
  margin-right: -82%;

  border-radius: 20px;
  overflow: hidden;
  
  
 }

 .conteinerMain{
  display: flex;
  width: 14%;
  height: 89%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
  position: absolute;
  right: 0;

 }



.master-clicker{
  display: none;
  width: 25%;
  height: 70%;
  position: absolute;
  left: 2% ;
  bottom: 8%;
}

.dymku{
  display: none;

  width: 220px;
  height: 150px;
  position: absolute;
  left: 30% ;
  top: 30%;
}

.coin-dymku{
  display: none;
  
  width: 220px;
  height: 150px;
  position: absolute;
  left: 23.5% ;
  top: 20%;
  color: rgb(255, 255, 255);
  font-size: 26px;
}

.claim-dymku-coin{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
 
  width: 150px;
  height: 20px;
  text-align: center;
  color: white;
  background-color: rgb(65, 64, 64);
  cursor: pointer;
}

.claim-dymku-coin:hover{
  background-color: green;
}

.claim-dymku-coin:active{
  background-color: rgb(193, 199, 193);
}

.coin-master{
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
position: absolute;
left: 0;
top: 0;
width: 20%;
height: 10%;
background: rgba(0,0,0,0.6);
z-index: 2;
}

.bust{
  display: none;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight:600 ;
  

  width: 10%;
  height: 5%;
  background: #00ff1e;
  position: absolute;
  left: 10% ;
  top: 12%;
  z-index: 2;
  cursor: pointer;
}

.bust:hover{
  background: #0b7618;
}
.bust:active{
  background: #0c4a13;
}

header{
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: rgba(67, 20, 20, 0.8);
  z-index: 2;
}





.pushable {
  position: relative;
  background: transparent;
  padding: 1px 1px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: rgb(233, 53, 53);
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(207, 16, 16, 0);
  margin: 30px;
  width: fit-content;
 
  
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsl(40, 94%, 38%);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(25, 100%, 50%) 0%,
    hsl(34, 100%, 40%) 8%,
    hsl(44, 100%, 28%) 92%,
    hsl(52, 100%, 16%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(27, 74%, 39%);
  padding: 16px 32px;
  color: rgb(71, 2, 2);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size:12px;
 
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}



.wellcom{

  width: 100%;
  height: 100vh;
  z-index: 0;
  background:url(img/1701417649_sportishka-com-p-oboi-v-stile-mashin-instagram-1.jpg) ;

}

.decoration-image-2{
  position: absolute;
  top: 100%;
  left: 0;
  
  width: 100%;
  height: 100%;

  z-index: 2;
}

.decoration-3{
  position: absolute;
  left: -5%;
  top: 0;
  width: 19px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  box-shadow: 40px 80px 100px rgb(159, 159, 7);

}

.decoration-3-2{
  position: absolute;
  right: -5%;
  top: 0;
  width: 19px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  box-shadow: -50px -20px 100px rgb(159, 159, 7);


}

.decoration-image-2t{
  position: absolute;
   top: 100%;
   left: 0;
  width: 100%;
  height: 10%;
  font-weight: 700;
  background-color: rgb(93, 40, 40);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-style: italic;
  box-shadow: -7px -9px 20px black,  0px 7px 20px rgb(100, 98, 98);
 
}

.decoration-image-3t{
  position: absolute;
   top: 100%;
   left: 0;
  width: 100%;
  height: 10%;
  font-weight: 700;
  background-color: rgb(93, 40, 40);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-style: italic;
  box-shadow: -7px -9px 20px black,  0px 7px 20px rgb(100, 98, 98);
 
}


.decoration-image-2tt{
  top: 200.2%;
}

.logo{
position: absolute;
left: 2%;
top: 6%;
  width: 80px;
  height: 65px;
}

.wellcom-text{
  font-size: 75px;
  font-weight: 1000;
  position: absolute;
  font-style: italic;
  color: rgb(50, 3, 3);
 right: -10%;
 top: -20%;
 z-index: 1;
  transition:  all 1s;
  animation: Hell0 1s ease-in forwards ;
  
}



.wellcom-text-2{
  top: 38%;
  font-weight: 600;
  font-size: 47px;
  position: absolute;
right: -1%;
 top: 100%;
 z-index: 1;
  width: max-content;
color: rgb(54, 3, 3) ;
  animation: Hell1 1.1s ease-in forwards ;
}

@keyframes Hell1 {
  0%{
   
  }

  100%{
  
    right: 8%;
    top: 37%;
    
  }
  
  }
  

@keyframes Hell0 {
0%{

}
100%{
  right: 15%;
  top: 20%;
 
}

}

.lastivka{
  position: absolute;
  top: 20%;
  left: 84%;;
  width: 100px;
  transition:  all 1s;
  animation: Hell2 1.2s ease-in forwards ;
  font-size: 40px;
  font-style: italic;
  color: rgb(224, 224, 224);
  font-weight: 1000;
}

@keyframes Hell2 {
  0%{
    scale: 0;
  }
  50%{
    scale: 0;
  }
  100%{
scale: 1;
   
  }
}

.lastivka-2{
  position: absolute;
  top: 50%;
  left: 55%;
  width: fit-content;
 scale: 0;
  transition:  all 1s;
  animation: Hell3 4s ease-in forwards ;
  font-size: 40px;
  font-style: italic;
  color: rgb(0, 0, 0);
  font-weight: 1000;
  
}


@keyframes Hell3 {
  0%{
    scale: 0;
  }
  25%{
    scale: 0;
  }
  50%{
    scale: 1.5;
  }
  75%{
    scale: 1;
    
  }
  100%{
scale: 1;
   
  }
}

.About{
  width: 100%;
  height: 100%;
  background: url(img/smoke.png);
  background-size: 100% 100%;
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
}


.card {
  width: 364px;
  height: 50%;
  background: rgb(38, 38, 38);
  box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.333);
  display: inline-block;
  position: relative;
  top: 25%;
  transform: translateY(-50%);
 
}

.imge {
  height: 70px;
  background-color: #ff5858;
}

.imge .Usericon {
  background-color: #414141;
  transform: translateX(10px) translateY(10px);
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.imge .UserName {
  background-color: #414141;
  width: 60px;
  height: 15px;
  border-width: 10px;
  border-radius: 5px;
  border-color: #262626;
  color: #262626;
  font-size: 15px;
  font-weight: bold;
  transform: translateX(70px) translateY(-35px);
}

.imge .Id {
  background-color: #414141;
  width: 100px;
  height: 15px;
  border-width: 10px;
  border-radius: 5px;
  border-color: #262626;
  color: #262626;
  font-size: 15px;
  font-weight: bold;
  transform: translateX(70px) translateY(-25px);
}

.Description {
  border-color: #141414;
  background-color: #414141;
  transform: translate(5px, 6px);
  width: 180px;
  height: 130px;
  border-radius: 5px;
}

/*______Social Media______*/
.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  transform: translatey(10px);
  background: #414141;
}

.social-media a {
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  color: #ff5858;
  transform: translatex(25px) translateY(20px);
  width: 20px;
  fill: currentColor;
}

.developers{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 210%;
  left: 0;
  z-index: 2;
}

.Game-Start{
  display: none;
  width: 100%;
  height: 100%;
}



.Rase{
position: absolute;
   top: -20px;
  width: 60px;
  height: 60px;
  margin:10px ;
}

.photo-game{
  width: 35%;
  height: 80%;
  background: url(img/photo-game.jpg);
  background-size: 100% 100%;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.Logo-Name{
  display: inline-block;
  position: relative;
  height: max-content;
  top: -5%;
  left: 7%;
  font-size:300%;
  color: rgb(169, 106, 106);
  z-index: 2;
  font-weight: 900;
  font-style: oblique;
}

.how-play{
  display: inline-block;
  position: absolute;
  top: 17%;
  left: 7%;
  font-size: 1.9em;

  max-width: 70%;
  color: rgb(163, 141, 141);
  z-index: 2;
  font-style: italic;
}

.about-game-inf{
  display: flex;
  flex-wrap: nowrap;

  margin-left: 1%;
  width: 50%;
  background-color: rgba(69, 20, 20, 0.4);
  height: 90% ;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translateY(-50%);
  
}

.vrap{
  position: absolute;
  top: 25%;
  left: 0;
width: 100%;
height: 60%;
background-color: rgba(0, 0, 0, 0.333);
display: flex;
flex-wrap: wrap;
}

.button {

  z-index: 2;
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px 10px 40px;
}



.button span {
  opacity: 0;
  color: #858BA9;
  font-size: 19px;
  font-weight: 300;
  display: inline-block;
  transform: translateY(10px);
  transition:
    transform 500ms 0s cubic-bezier(0.2, 0, 0, 1),
    opacity 500ms 0s cubic-bezier(0.2, 0, 0, 1)
}

.button div {
  top: 11px;
  left: 0;
  content: '';
  width: 30px;
  height: 30px;
  display: block;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
  transform: scale(1);
  background-color: #E9E7F2;
  transition: transform 400ms 0s cubic-bezier(0.2, 0, 0, 1.6);
}

.button div::after {
  top: 0;
  left: 0;
  content: '';
  width: 60px;
  height: 30px;
  position: absolute;
  background-position: 0 0;
  background-image: url('https://s3-eu-west-1.amazonaws.com/thomascullen-codepen/back.svg');
  transition: transform 400ms 0s cubic-bezier(0.2, 0, 0, 1);
}



.button:hover span {
  opacity: 1;
  transform: translateY(4px);
}

.button:hover div {
  transform: scale(1.1);
  background-color: white;
  box-shadow:
    0 2px 10px 0 rgba(185,182,198,0.00),
    0 1px 3px 0 rgba(175,172,189,0.25);
}

.button:hover div::after {
  transform: translateX(-30px);
}


.shop , .shopp{
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;
  position: absolute;
  top: 0%;
  left: -50%;
  width: 20%;
  max-height:100vh;
  background-color: #201f1f;
  z-index: 3;

  overflow-y: scroll;
  border-top-right-radius: 6.5px;
  box-shadow: 10px 19px 20px black;
}

.shop,.shopp::-webkit-scrollbar{
  background-color: #000000;

  border-radius:50px ;

}




.shop,.shopp::-webkit-scrollbar-thumb{
  background-color: #4b4f55;
  border-radius: 18px;
 
 
}

.shop::-webkit-scrollbar{
  background-color: #000000;

  border-radius:50px ;

}

.shop::-webkit-scrollbar-thumb{
  background-color: #4b4f55;
  border-radius: 18px;
 
 
}



.Close-shop{

  position: sticky;
  left: 0%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: red;
  font-size: 30px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  z-index: 3;
  

}


.Close-shop:hover{
  background-color: rgb(137, 15, 15);
}

.Close-shop:active{
  background-color: rgb(105, 10, 10);
}

.buttonn-container {
  position: absolute;
  left: 3%;
  top: 3%;
 
  display: flex;
  background-color: rgba(0, 73, 144);
  width: 30%;
  height: 5%;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    rgba(0, 73, 144, 0.5) 5px 10px 15px;
  transition: all 0.5s;
}
.buttonn-container:hover {
  width: 12%;
  transition: all 0.5s;
}

.buttonn {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.buttonn:hover {
  transform: translateY(-3px);
}

.iconn {
  font-size: 20px;
}





* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 110%;
  width: 100%;
  max-height: max-content;

}

/* Hide the images by default */
.mySlides {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;

}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.nexttt { 
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.nexttt:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  width: 100%;
  position: absolute;
  top: 100%;
  height: 5%;
  z-index: 2;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  display: inline;
  position: absolute;
  top: 105%;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  z-index: 2;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
 position: relative;

}

.active,
.demo:hover {
  opacity: 1;
  
}


.tooltip {
  position: absolute;
  right: 4%;
  bottom: 4%;
  display: inline-block;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  z-index: 2;

}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: transparent;
  font-weight: 800;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: -145%;
  left:-150%;

  opacity: 0;
  transition: opacity 0.3s;
  z-index: 3;
}



.tooltip .icon {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #342f2f;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
}


section {
  position: absolute;
  left: 0;
  top: 0;
  --col-orange: #d17842;
  --col-dark: #0c0f14;
  --col-darkGray: #52555a;
  --col-gray: #aeaeae;

  height: 40px;
  display: flex;
  align-items: center;
  flex-wrap:wrap ;
  justify-content: space-evenly;
  background-color: var(--col-dark);
  width: 100%;
  z-index: 2;
 
}
.label  {
  padding: 0px 0px;
  transition: all 200ms;
  display: inline-block;
  cursor: pointer;
  
 
}

.label input[type="radio"] {
  display: none;
}
.label > svg {
  transition: all 200ms;
  fill: var(--col-gray);
  width: 20px;
  
}
.label:hover:not(:has(input:checked)) > svg {
  fill: #d17842;
  opacity: 0.6;

}
.label::before {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 5px;
  position: relative;
  left: 50%;
  top: 20px;
  background: var(--col-orange);
  transition: all 200ms;
  
}
.label > svg {
  transition: 300ms;
  fill: var(--col-darkGray);
  margin-top: 0;
}
.label:has(input:checked) > svg  {
  display: flex;
  fill: var(--col-orange);
  scale: 1.2;
  margin-top: -5px;
}



.label:has(input:checked)::before {
  width: 100%;
  left: 0;
  top: 25px;
}

.name-home{
  position: absolute;
  top: -30%;
  display: inline;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 800;
  transition: all 200ms;
  color: #d4c8c0 ;
  display: flex;
  fill: var(--col-orange);
  scale: 1.2;
  margin-top: 20px;
  margin-left: 35px;
}

.btn-2{
  background-color: transparent;
  width: 0;
  height: 0;
  border: none;
}

.name-homee{
  position: absolute;
  top: -30%;
  display: inline;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 800;
  transition: all 200ms;
  color: #d4c8c0 ;
  display: flex;
  fill: var(--col-orange);
  scale: 1.2;
  margin-top: 20px;
  margin-left: 50px;
}




.updates{

  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: url(https://kartinki.pics/pics/uploads/posts/2022-08/1659666910_1-kartinkin-net-p-zastavki-dlya-masterskoi-krasivo-1.jpg);
  background-size: 170% 100%;
  padding-top: 30%;
  border-bottom: 15px solid rgb(139, 7, 7);
}

.garages0up{
  height: max-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  background: url(img/garage/fadfce82daef92615329df2ea50e3fd3.jpg);
  background-size: 100% 100%;
  padding-top: 20%;
}




.domcrat{
  display: none;
  position: absolute;
  right: 17%;
  bottom: 8%;
  width: 20%;
  height: 25%;
  z-index: 0;
}

.domcratt{
  display: none;
  position: absolute;
  right: 16%;
  bottom: 3%;
  width: 20%;
  height: 30%;
  z-index: 0;
}

.acs{
  width: 100%;
  height: 100%;
  filter: drop-shadow(7px 6px 10px orange);
margin: 0;
  background: url(img/2_310.png);
  background-size: 100% 100%;
  
}

.suvenir-conteiner-btn{
  width: 40px;
  height: 40px;
  transition: all 200ms;
  cursor: pointer;
  
}

.suvenir-conteiner-btn:hover{
scale:0.9;
}

.suvenir-conteiner-btn:active{
  
  scale:1;
  }

  .suvenir-conteiner{

    overflow-y: scroll;
    display: none;
    justify-content: center;
   
    flex-wrap: wrap;
    
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    padding: 5% 15%;
    z-index: 3;
  }


.con-for-asc{
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
  width: 40%;
  height: 50%;
  border: 2px solid orange;
  box-shadow: 12px 10px 15px rgb(17, 17, 51) ,-12px -10px 15px rgb(30, 30, 81) ;
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-weight: 500;
  margin: 5%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

  padding: 0;
}

.suvenir-conteiner-Close, .fortune-conteiner-Close  {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 3%;
  top: 5%;
  cursor: pointer;
  filter: drop-shadow(5px 5px 8px black);
}

.quetions-conteiner-Close{
  display: flex;
 
  align-items: center;
  justify-content: center;
 
  font-size: 25px;
  width: 100%;
  height: 15%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background: red;
color: rgb(0, 0, 0);
font-weight: 1000;


}


.first-car-con{
  width: max-content;
  height: max-content;
  display: flex;
}


.massage{
 
  display: none;
  background-color: red;
  border-radius: 100%;
  font-size: 10px;
  color: rgb(255, 255, 255);
  font-weight: 1000;
  padding: 0.5px 4px 0.5px 4px;
  position: relative;
  right: 35%;
  top: -26.5px;
  text-align: center;
}

.fortune{
  display: none;
  width: 50px ;
   height: 40px;
    position: absolute;
     left: 5%;
     transition: all 0.2s;
     cursor: pointer;
}

.fortune:hover{
scale: 0.9;
}

.fortune:active{
  scale: 1;
}

.fortune-conteiner{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgb(0, 0, 0, .7);
}

.inf-hay-play-game-con{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 4;
}

.inf-hay-play-game-con-small{
  width: 60%;
  height: 75%;
  background-color: #1e1e1e;
}

.inf-nex-inf{
 display: flex;
 justify-content: center;
 align-items: center;
  position: relative;
  text-align: center;
  background-color: red;
  font-size: 40px;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 10%;
  font-weight: 800;
  cursor: pointer;
  box-shadow:0px -10px 30px rgb(60, 2, 2);
}

.inf-nex-inf:hover{
  background-color: rgb(156, 2, 2);
  color: rgb(43, 43, 43);
}

.inf-nex-inf:active{
  background-color: rgb(114, 14, 14);
  color: rgb(255, 255, 255);
}

.go-go-go{
  position: absolute;
  left: 90%;
}

.photo-hav-play{
  height: 100%;
  width: 100%;
  background: url(img/inf-ob/firs.png);
  background-size: 100% 100%;
}

.quetions{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 23%;
  background: url(img/1674829332_bogatyr-club-p-serii-fon-dlya-prezentatsii-fon-2.jpg);
  background-size: 100% 100%;
  z-index: 3;
  position: absolute;
  bottom: -30%;
  left: 0;
  transition: all 0.7s;
  
}

.quetions-con{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31%;
  height: 60%;
  background: linear-gradient(rgb(255, 0, 0),
                              rgb(101, 12, 12),
                              black);
  margin: 10px;

}

.qutions-task{
  font-size: 30px;
  font-weight: 800;
  color: #ffffff;
  
}



.get-or-no{
  background-color: red;

 
}

.what-suvenir-con{
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: inline;
  color:  rgb(183, 181, 181) ;
  font-size: 30px;
  font-weight: 800;
}

.con-small-suvenirSec{
  display: none;
}

.con-small-suvenirFir{
  display: flex;
  width: 100%;
  height: 100%;
}

.next-Acivements{
  display: flex;
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  width: 7%;
  height: 8%;
  background: url(img/ykazatel.png);
  background-size: 100% 100%;
  transform: rotate(180deg);
}

.next-Acivements:hover{
  width: 6.8%;
  height: 7.8%;
}

.next-Acivements:active{
  width: 7%;
  height: 8%;
}

.suvenir-conteinerSecond{
  display:none;
}

.next-AcivementsSecond{
  display: flex;
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  width: 7%;
  height: 8%;
  background: url(img/ykazatel.png);
  background-size: 100% 100%;

}

.next-AcivementsSecond:hover{
  width: 6.8%;
  height: 7.8%;
}

.next-AcivementsSecond:active{
  width: 7%;
  height: 8%;
}




.leader-board{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
 
  width: 100%;
  height: 100vh;
  animation: leader-back 4s ease-in-out  infinite ;
}

@keyframes leader-back {
  0%{
    background:rgb(77, 38, 38);
  }
  25%{
    background: rgb(35, 14, 14);
  }
  50%{
    background: rgb(49, 17, 17);
  }
  75%{
    background: rgb(46, 17, 17);
  }
  100%{
    background:rgb(77, 38, 38);
  }
}

.leaderboard-conteiner{
  width: 60%;
  height: 80%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:linear-gradient(rgb(93, 60, 60),rgb(74, 42, 42), rgb(56, 9, 9)) ;
  border-radius: 20px;
  box-shadow: 15px 15px 30px rgb(54, 28, 28),  -15px -15px 30px rgb(62, 17, 17);
  overflow-y: scroll;
  overflow-x:hidden;
}

.name-leaderboard{
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  width: 100%;
  font-weight: 900;
  height: 10%;
  position:sticky;
  z-index: 2;
  top: 0;
  left: 0;
  background:linear-gradient(rgb(57, 20, 20),rgb(10, 5, 5)) ;
  color: white;
  font-size: 40px;

}

.people-leader{
  width: 105%;
  height: 15%;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
box-shadow: 5px 3px 8px black ;
  transition: all .5s;
  overflow-x: visible;
  cursor: pointer;
}

.people-leader:hover{
  scale: 1.04;
  transform:translateY(-5px);
  z-index: 3;
}

.numeration{
  display: inline-block;
  position: relative;
  left: 7%;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 30px;
  border-radius:15px;
  background-color: #0c0f14;
  text-align: center;
  color: white;
}

.numeration > p{
  position: relative;
  top: -30%;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 1000;
 
}

.logo-leader{
  width: 55px;
  height: 55px;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #201f1f;
  border-radius: 100%;
  background-size: 100% 100%;
}

.name-leader{
  max-width:10% ;
  height: 5%;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  left: 28%;
  top: 35%;

  color: white;
}


.money-leader{
  width: 15%;
  height: max-content;
  font-size: 25px;
  position: absolute;
  right: 6%;
  top: 35%;
  font-weight: 600;
  color: rgb(255, 255, 255);
}


.leaderboard-conteiner::-webkit-scrollbar{
  background-color: #1f1c1c;

  border-radius:50px ;
 

}

.leaderboard-conteiner::-webkit-scrollbar-thumb{
  background-color: #975d6b;
  border-radius: 18px;

 
}

.fir-peo{
  background-color: rgb(162, 138, 4);
}
.sec-peo{
  background-color: rgb(153, 151, 151);
}
.thirf-peo{
  background-color: rgb(117, 42, 42);
}




.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.semi-bold {
  font-weight: 500;
  font-size: 16px;
}

.resume {
  width: 800px;
  height: auto;
  display: flex;
  margin: 50px auto;
}

.resume .resume_left {
  width: 280px;
  background: #0bb5f4;
}

.resume .resume_left .resume_profile {
  width: 100%;
  height: 280px;
}

.resume .resume_left .resume_profile img {
  width: 100%;
  height: 100%;
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 20px;
}

.resume .resume_left .bold {
  color: #fff;
}

.resume .resume_left .regular {
  color: #b1eaff;
}

.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #b1eaff;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}

.resume .resume_left ul li .icon {
  width: 35px;
  height: 35px;
  background: #fff;
  color: #0bb5f4;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}

.resume .icon i,
.resume .resume_right .resume_hobby ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume .resume_left ul li .data {
  color: #b1eaff;
}

.resume .resume_left .resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: #b1eaff;
  justify-content: space-between;
  align-items: center;
}

.resume .resume_left .resume_skills ul li .skill_name {
  width: 25%;
}

.resume .resume_left .resume_skills ul li .skill_progress {
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background: #009fd9;
  position: relative;
}

.resume .resume_left .resume_skills ul li .skill_per {
  width: 15%;
}

.resume .resume_left .resume_skills ul li .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
}

.resume .resume_left .resume_social .semi-bold {
  color: #fff;
  margin-bottom: 3px;
}

.resume .resume_right {
  width: 520px;
  background: #fff;
  padding: 25px;
}

.resume .resume_right .bold {
  color: #0bb5f4;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul {
  padding-left: 40px;
  overflow: hidden;
}

.resume .resume_right ul li {
  position: relative;
}

.resume .resume_right ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.resume .resume_right ul li .info {
  margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}

.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #0bb5f4;
}

.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 115px;
  background: #0bb5f4;
}

.resume .resume_right .resume_hobby ul {
  display: flex;
  justify-content: space-between;
}

.resume .resume_right .resume_hobby ul li {
  width: 80px;
  height: 80px;
  border: 2px solid #0bb5f4;
  border-radius: 50%;
  position: relative;
  color: #0bb5f4;
}

.resume .resume_right .resume_hobby ul li i {
  font-size: 30px;
}

.resume .resume_right .resume_hobby ul li:before {
  content: "";
  position: absolute;
  top: 40px;
  right: -52px;
  width: 50px;
  height: 2px;
  background: #0bb5f4;
}

.resume .resume_right .resume_hobby ul li:last-child:before {
  display: none;
}
.dev{
  width: 100%;
  height: max-content;
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 3;
  display: none;
  background: linear-gradient(rgb(72, 30, 30), rgb(57, 30, 30), rgb(17, 17, 17));
}

.NextDev, .BackDev{
 
 
 width: 70px;
 height: 50px;
 background: url(img/ykazatel.png);
 background-size: 100% 100%;
 border: none;
 transition: all .2s;
 z-index: 4;
}

.NextDev{
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(180deg);
}

.BackDev{
  display: none;
  position: fixed;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);

}

.NextDev:hover, .BackDev:hover{
  scale: 0.9;
}

.NextDev:active, .BackDev:active{
  scale: 1;
}

.sec-dev, .third-dev, .four-dev{
  display: none;
  background-color: #009fd9;
}

.skip{
  width: 100%;
  height: 3%;
  background: #036a90;
  border: none;
  text-align: center;
  display: block;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.skip:hover{
  background: #034e69;
  color: rgb(118, 118, 118);
}

.skip:active{
  background: #023d52;
  color: rgb(255, 255, 255);
}

.quetionnotification{
  display: none;
  text-align: center;
  position: relative;
  left: 340%;
  top:10%;
  width: 50px;
  height: 20px;
  padding: 1px 2px ;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
  font-size: 15px;
  font-weight:500 ;

}